:root {
  --primary-gray: rgb(226,232,240);
  --primary-color: rgb(25,146,211);
  --primary-accent: rgb(255, 203, 49);
  --primary-shadow: black;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: grid;
  justify-items: center;
  background-color: var(--primary-gray);
}

.container {
  width: 100%;

  display: grid;
  grid-template-columns: minmax(180px, 280px) auto;
  grid-template-rows: 100px 1fr;

}

.header {
  background-color: white;
  box-shadow: 0 2px 3px -3px black;
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  display: grid;
  grid-template-rows: 40px 80px;
}

.header-top,
.header-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.header-top {
  display: grid;
  grid-template-columns: minmax(200px, 2fr) max(50px) 250px;
  align-items: center;
  gap: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.searchbar-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.user-info-container {
  grid-column: 3 / 4;

  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
}

.searchbar {
  height: 30px;
  margin: 16px;
  border-radius: 40px;
  background-color: var(--primary-gray);
}

.sidebar {
  background-color:var(--primary-color);
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  padding: 16px;

  display: grid;
  grid-template-columns: minmax(100px, 1fr);
  grid-template-rows: 150px auto auto 1fr;
  gap: 30px
}

.sidebar > .nav-pages,
.sidebar > .nav-backend {
  display: grid;
  grid-template-columns: minmax(70px, 1fr);
}

.user-greeting-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 16px;
}

.logged-in-user-image {
  background-color: var(--primary-color);
  border-radius: 80px;
  width: 50px;
  height: 50px;
}

.user-greeting-message h6 {
  padding-bottom: 2px;
  font-weight: 600;
}

.user-greeting-message p {
  font-size: 18px;
}

.admin-actions-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  justify-items: end;
  gap: 10px;
}

.admin-actions {
  height: 34px;
  width: 90px;
  border-radius: 20px;
  background-color: var(--primary-color);

  color: white;
  

  display: grid;
  justify-items: center;
  align-items: center;
}

div.admin-actions a {
  font-weight: 400;
  font-size: 14px;
}

.admin-actions:hover {
  transform: scale(1.04);
}


.nav > a i {
  padding: 8px
}

.nav > a:hover {
  transform: scale(1.04);
}

.sidebar-header {
  font-size: 36px;
}

.sidebar-header,
a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}

.main-content {
  background-color: var(--primary-gray);
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: 5fr 2fr;
}

.main-content-sidebar,
.main-content-headers {
  padding: 16px;
}

.projects-header {
  grid-column: 1 / 2;
}

.announcements-header {
  grid-column: 2 / 3;
}

.projects-header,
.announcements-header {
  padding-left: 16px;
  padding-top: 16px;
  margin-bottom: 4px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-left: 16px;
  padding-top: 16px;
  overflow: auto;
}

.projects-card {
  background-color: white;
  border-radius: 10px;
  padding: 24px;
  box-shadow: -6px 0 var(--primary-accent), 0 4px 4px -4px black;
}

.projects-card > h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: 600;
}

.projects-card > p {
  font-size: 14px;
}

.announcements-container,
.trending-container {
  padding: 8px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px -4px black;

  display: grid;
  grid-template-columns: minmax(190px, 1fr);
  gap: 4px;
}

.announcements-container {
  margin-bottom: 20px;
}

.projects-header,
.announcements-header,
.trending-header {
  font-weight: 600;
}

.announcements-box {
  padding: 10px;
}

.announcements-box:not(:last-child) {
  border-bottom: 1px solid var(--primary-gray);
}

.announcements-box h1 {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 4px;
  font-weight: 600;
}

.announcements-box p {
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 5px;
}

.trending-header {
  padding-bottom: 16px;
}

.trending-box {
  padding: 10px;
  
  display: flex;
  grid-template-columns: 1fr 4fr;
  gap: 10px
}

.user-image {
  background-color: var(--primary-color);
  border-radius: 80px;
  width: 30px;
  height: 30px;
}

.trending-box > div > h1 {
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 2px;
}

.trending-box > div > p {
  font-weight: 200;
  font-size: 10px;
}